<div class="bar-chart chart-container"
     data-controller="chart"
     data-chart-data-value="<%= (local_assigns[:data] || []).to_json %>"
     style="block-size: <%= local_assigns[:height] || '10rem' %>">
</div>
