<div class="stat-card">
  <div class="stat-card__label"><%= label %></div>
  <div class="stat-card__value"><%= value %></div>
  <% if local_assigns[:detail] %>
    <div class="stat-card__detail"><%= detail %></div>
  <% end %>
</div>
