<div class="flex gap-half dl-filters">
  <% tabs.each do |tab| %>
    <%= link_to tab[:path], class: "btn btn--sm #{tab[:value] == current ? 'btn--primary' : 'btn--ghost'}",
          data: { turbo_action: "replace" } do %>
      <%= tab[:label] %>
      <% if tab[:count] %>
        <span class="text-xs" style="opacity: 0.7"><%= tab[:count] %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
